* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  padding: 0 150px;
  background-color: #1f2937;
  color: white;
  height: 500px;
  flex-shrink: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 8px 0;
  height: 20%;
}

.header-logo {
  font-size: 64px;
  font-weight: bolder;
}

.links a {
  text-decoration: none;
  color: white;
  font-size: 22px;
}

.links a:not(:last-child) {
  padding-right: 30px;
}

.links a:hover {
  color: lightblue;
}

.header-content {
  display: flex;
  justify-content: space-between;
  height: 80%;
  padding-bottom: 50px;
  flex-shrink: 1;
}

.header-information {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
}

.justice {
    font-size: 40px;
}

.header-content hr {
  width: 80%;
  margin-top: -30px;
}

.header-img {
  width: 300px;
  height: 280px;
  background-color: white;
  padding: 25px;
  border-radius: 25px;
}

.sign-up {
  font-size: 24px;
  padding: 6px;
  border-radius: 15px;
  border: 4px solid white;
  width: 310px;
  align-self: self-start;
  cursor: pointer;
  transition: 0.5s;
  text-wrap: nowrap;
  animation: myborder 4s infinite;
  background-color: white;
  font-weight: 600;
}

.sign-up:hover {
  background-color: lightblue;
  color: white;
  width: 330px;
}

@keyframes myborder {
  /* 15% {border-color: red;}
    30% {border-color: orange;}
    45% {border-color: yellow;}
    60% {border-color: chartreuse;}
    75% {border-color: blue; }
    90% {border-color: purple;} */
  50% {
    border-color: red;
  }
}

.header-content p {
  font-size: 20px;
}

/* ^^^^^^^ header ^^^^^^^^ */

.hero-card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 500px;
  margin: 150px 0;
}

.hero-card-section h2 {
  padding: 25px 0;
  font-size: 30px;
  text-decoration: underline;
}

.portraits {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
}

.portraits div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 340px;
  width: 300px;
  background-color: lightgrey;
  padding: 15px;
  border-radius: 35px;
  border: 2px solid black;
}

.portraits div img {
  width: 150px;
  border: 2px solid black;
  border-radius: 8px;
}

.portraits div h3 {
  margin: -10px 0;
}

.portraits div hr {
  width: 150px;
}

.portraits div p {
  height: 70px;
  text-align: center;
  font-weight: normal;
}

.s-class {
  color: red;
}

.c-class {
    color: green;
}

/* ^^^^^^^^ Hero card section ^^^^^^^^^^^ */

.quote-section {
  height: 500px;
  display: flex;
  flex-direction: row;
  box-shadow: 50px 0px 50px 30px gray;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
}

.saitama-gif {
  width: 100%;
  flex: 0;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
}

.quote {
  background-color: black;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 0 70px 0 0;
 
}

.quote p {
  font-size: 80px;
  text-align: center;
  font-family: 'Tulpen One', sans-serif;
}

.quote h3 {
  align-self: flex-end;
  margin-right: 35px;
  font-weight: bolder;
  font-size: 52px;
  font-family: 'Tulpen One', sans-serif;
}

/* ^^^^^^^^^^^^^^^ quote section ^^^^^^^^^^^^^ */

footer {
  margin-top: 100px;
  background-color: white;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.program {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 80%;

    font-size: 30px;

    animation-name: floating;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin: 50px;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}

.enroll {
  width: 180px;
  height: 40px;
  align-self: center;
  font-size: 20px;
  background-color: yellow;
  border: 1px solid black;
  border-radius: 25px;
  cursor: pointer;

  transition: .2s;
}

.enroll:hover {
  background-color: red;
  width: 100%;
  color: white;
}

.enroll:active {
  background-color: greenyellow;
}

.program hr {
  width: 100%;
  margin: 20px 0;
}

.footer-content {
  margin-top: 30px;
  padding: 20px 0;
  background-color: black;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bolder;
}

